.signup {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup__container {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff6eff0;
  border-radius: 23px;
  width: 403px;
  min-height: 524px;
  padding: 15px 0;
}
.signup__container > img {
  width: 190px;
  height: 37.15px;
  margin-bottom: 20px;
}
.signup__container > h1 {
  font-weight: 600;
  font-size: var(--font-size-primary);
  line-height: 24px;
  color: #000000;
  margin-bottom: 20px;
}
.signup__container__social__signin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.signup__container__social__signin > button {
  width: 190px;
  height: 37.15px;
  width: 151px;
  padding: 10px;
  font-size: 10px;
  line-height: 24px;
  font-weight: 400;
  margin: 0 10px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: 0;
}
.signup__container__social__signin > button > img {
  width: 18px;
  height: 18px;
  margin-right: 15px;
}

.signup__container__form {
  display: flex;
  flex-direction: column;
}
.signup__container__form > input {
  margin: 5px 0;
  border-radius: 30px;
  height: 48px;
  width: 322px;
  font-size: var(--font-size-secondary);
  line-height: 24px;
  padding: 10px;
  border: 0;
  color: #868686;
  font-weight: 500;
}
.signup__container__form > button {
  border-radius: 30px;
  margin-top: 40px;
  margin-bottom: 15px;
  width: 322px;
  height: 46px;
  border: 0;
  background: var(--color-secondary-accent);
  color: white;
}

.signup__container > p {
  font-size: var(--font-size-secondary);
  line-height: 24px;
  text-align: center;
  margin-top: auto;
}
.signup__container > p > span {
  font-weight: 600;
  color: salmon;
  cursor: pointer;
}

@media all and (max-width: 768px) {
  .signup__container {
    width: 95%;
  }
}
