.admin__modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.admin__modal > h1 {
  font-size: 20px;
  font-weight: 600;
}

.admin__modal > button {
  font-size: var(--font-size-secondary);
  font-weight: 600;
  background-color: #f8d7da;
  color: #721c24;
}
.admin__modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.admin__modal__form > input {
  border: 1px solid #f48a24;
  border-radius: 20px;
  width: 100%;
  padding: 15px 15px;
}
.admin__modal__form > select {
  border: 1px solid #f48a24;
  border-radius: 20px;
  width: 100%;
  padding: 15px 15px;
}
